<app-header></app-header>
<main>
    <nav class="admin-nav" [class.open]="NavState">
        <div class="nav-panel">
            <a routerLink="user-stats" routerLinkActive="active" class="nav-item">User Statistics</a>
            <a routerLink="user-control" routerLinkActive="active" class="nav-item">Control Account Creation</a>
            <a routerLink="toxicity-stats" routerLinkActive="active" class="nav-item">Content Censoring Statistics</a>
            <a routerLink="toxicity-control" routerLinkActive="active" class="nav-item">Control Censoring Thresholds</a>
            <a routerLink="thread-ranking" routerLinkActive="active" class="nav-item">Trending Threads</a>
        </div>

        <div class="nav-seam">
            <button class="nav-toggle" (click)="toggleNav()">
                <span></span><span></span><span></span>
            </button>
        </div>
    </nav>
    <router-outlet></router-outlet>
</main>